.b-common-wrap {
	max-width: 1024px;
	width: 100%;
	margin: 0 auto;
	margin: 0rem auto;
	position: relative;
}

.b-main {
	display: table;
	table-layout: fixed;
	width: 100%;
}

.b-main__sidebar,
.b-main__content {
	display: table-cell;
	font-size: 16px;
	font-size: 1rem;
	vertical-align: top;
	padding: 0 25px;
	padding: 0rem 1.5625rem;
}

.b-main__sidebar {
	width: 300px;
}

.b-main__item {
	margin: 25px 0;
	margin: 1.5625rem 0rem;
}

.b-main__item_img {
	text-align: center;
}

.b-main__img {
	border-radius: 50%;
	display: inline-block;
}

.b-heading {
	display: block;
	border-top: 1px solid #555;
	border-bottom: 1px solid #555;
	font-size: 18px;
	font-size: 1.125rem;
	font-weight: normal;
	line-height: 30px;
	margin-bottom: 20px;
	margin-bottom: 1.25rem;
}

.b-title {
	text-align: center;
}

.b-position {
	text-align: center;
	display: block;
	font-size: 15px;
	font-size: 0.9375rem;
}

.b-contacts__item {
	padding: 10px 0;
	padding: 0.625rem 0rem;
	border-bottom: 1px solid #555;
	display: table;
	table-layout: fixed;
	width: 100%;
}

.b-contacts__icon,
.b-contacts__text {
	display: table-cell;
	vertical-align: middle;
}

.b-contacts__icon {
	width: 50px;
	border-right: 1px solid #555;
	padding: 0 15px;
	padding: 0rem 0.9375rem;
}

.b-contacts__text {
	text-align: right;
}

.b-date-list__item {
	margin-left: 80px;
	border-left: 1px solid #555;
	padding: 0 0 15px 15px;
	padding: 0rem 0rem 0.9375rem 0.9375rem;
	position: relative;
}

.b-date-list__item:before {
	content: '';
	display: block;
	background-color: #555;
	padding: 4px;
	padding: 0.25rem;
	position: absolute;
	top: 0;
	left: -4px;
	border-radius: 50%;
}

.b-date-list__date {
	position: absolute;
	top: 0;
	right: 100%;
	width: 40px;
	text-align: center;
	margin-right: 20px;
}

.b-date-list__position {
	display: block;
	margin-bottom: 15px;
	margin-bottom: 0.9375rem;
	font-style: italic;
}

.b-skills__item {
	margin: 8px 0;
	margin: 0.5rem 0rem;
}

@media (max-width: 768px) {

.b-main {
	margin: 0;
	margin: 0rem;
	padding: 10px;
	padding: 0.625rem;
}

.b-main__sidebar,
.b-main__content {
	padding: 0;
	padding: 0rem;
	width: 100%;
	display: block;
}

}

